@import "~nypr-design-system-vue/src/styles/_library/_base.media.scss";
@import "~nypr-design-system-vue/src/styles/_library/_base.mixins.scss";

//import the theme
@import "~nypr-design-system-vue/src/styles/white-label";
$primaryColor: #ff0000;
.red {
    color: $primaryColor;
}
* {
    font-family: "Yaldevi", sans-serif;
    font-weight: 500;
}
