$primaryColor: #ff0000;

/* breakpoints */
/* these break point values should matach the image:{} values in the nuxt.config */
$xxxl: 1500;
$xxl: 1200;
$xl: 1024;
$lg: 850;
$md: 768;
$sm: 550;
$xs: 360;

$spacing: 8px;

:export {
    xxxl: $xxxl;
    xxl: $xxl;
    xl: $xl;
    lg: $lg;
    md: $md;
    sm: $sm;
    xs: $xs;
}

/*mixins*/
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
